
.navbar-brand{
    
    color: beige;
    
} 

h3{
    text-align:center;
    font-style: bold;
    letter-spacing: 1px;
    margin-left: 175px;
    
  }

.navbar {
    color: white;
    background-color:#995c56;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top:0;
    overflow: auto;
    height: max-content;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-nav{
    float: right;
}

.nav-item{
    /* position: relative; */
    color:white;
    background-color:#995c56;
    width: 70px;
    height: 58px;
    border: 2px white;

}

.logo{
    float:left;
    margin-right: 10px;
}